@import 'variables';
/* theme color */
$--color-primary: $color-primary;
$--color-success: $color-success;
$--color-warning: $color-warning;
$--color-danger: $color-danger;
// $--color-info: rgba(#{$color-main-50}, 1);
// $--color-info-light: $color-main-60;
// $--color-info-lighter: $color-main-70;

// $--color-text-regular: $color-main;
// $--color-text-primary: $color-main;
// $--color-text-secondary: $color-main-50;
// $--color-text-placeholder: $color-main-10;

// // FIXME:
// $--border-color-base: $color-main-70; //  $color-main-50;
// $--border-color-light: blue;
// $--border-color-lighter: $color-main-80;
// $--border-color-extra-light: purple;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

.el-menu {
    border-color: $color-main-70;
}
.el-submenu .el-menu-item {
    min-width: initial;
}

.el-form--label-top .el-form-item__label {
    padding-bottom: 0;
}

.el-input__clear::before {
    content: '\e6db';
}
// .el-button .el-loading-mask {
//     border-radius: 3px;
//     opacity: 0.9;
//     & .el-loading-spinner {
//         transform: scale(0.75);
//     }
// }
